.slider{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  border-radius: 10px;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size:3rem;
  color: #000;
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size:3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}